.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 32px;
    text-decoration: none;
    widows: 100%;
  }
  
  .Gif h4 {
    margin: 0;
  }
  .Gif img {
    object-fit: contain;
  }
  